td{
	padding-left:1.5rem;
	font-weight: 500;
}
tr:nth-child(even){
	background-color: #00b4d8;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}

.center2{
	margin:0 auto;
}
.holder{
	min-height:500px;
}